html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

.violation-pill {
  background-color: var(--bs-light-bg-subtle);
  padding: .25rem .5rem;
  border-radius: 1rem;
  margin-right: .5rem;
  font-size: .75rem;
  font-weight: bolder;
  text-overflow: ellipsis;
}

section {
  margin: 2rem 0;
}

#rules-button, #players-button {
  font-weight: bolder;
  border-radius: .5rem;
  margin-right: .5rem;
}

.modal-header {
  padding: .5rem 1rem;
}

