#tableToolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#tableToolbar #tableSearchBar {
  border-radius: .5rem !important;
  background: var(--bs-secondary-bg);
  color: var(--bs-light);
  border: none;
  box-shadow: none;
  font-weight: bolder;
  height: 2rem;
}

#tableToolbar #tableSortButton {
  white-space: nowrap;
  height: 2rem;
}

